[gpg]
	format = ssh
[gpg "ssh"]
	program = C:\\Users\\antoi\\AppData\\Local\\1Password\\app\\8\\op-ssh-sign.exe
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJYXk44eCPqmlAL+hcsvRuoQG3U5jETm8DsaFr0Hpju6
	email = antoine.berger@epitech.eu
	name = SkyfightTV
[safe]
	directory = C:/Users/antoi/scoop/buckets/versions
	directory = C:/Users/antoi/scoop/buckets/nonportable
	directory = C:/Users/antoi/scoop/buckets/games
	directory = C:/Users/antoi/scoop/buckets/extras
	directory = C:/Users/antoi/scoop/buckets/nerd-fonts
[core]
	autocrlf = true
